.pageWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card .cardHeader {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card .cardHeader img {
  border-radius: 0.8rem;
}

.card .cardDetails {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
