.pageWrapper {
  display: flex;
  justify-content: center;
  align-items: start;
}

.card {
  color: #000;
  background: #f5f2f2;

  border-radius: 12px;
  padding: 1rem;
  width: 100%;
  max-width: 400px;
  position: relative;
  overflow: hidden;
}

.cardHeader {
  gap: 1rem;
  display: flex;
  margin-bottom: 1rem;
  align-items: flex-start;
  flex-direction: column;
}

.avatar {
  border-radius: 8px;
}

.logo {
  width: auto !important;
  height: 25px;
}

.cardHeaderText h1 {
  font-size: 1rem;
  margin: 0.25rem 0;
  font-weight: bold;
  text-transform: uppercase;
}

.cardHeaderText p {
  margin: 0;
  font-size: 0.8rem;
  color: currentColor;
}

.cardDetails {
  list-style: none;
  padding: 0;
  margin: 0 0 1.5rem 0;
}

.cardDetails li {
  margin-bottom: 0.3rem;
  font-size: 0.95rem;
}

.qrCodeWrapper {
  text-align: center;
}

.qrCodeSection canvas {
  border-radius: 12px;
  overflow: hidden;
}

.authCode {
  font-size: 0.9rem;
  margin-top: 0.5rem;
  color: currentColor;
}
