.header {
  background: #00407a;
  color: #ffffff;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}

.header .menu {
  width: 100%;
  height: 4rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .hero {
  width: 100%;
  height: 100%;
  height: 8rem;

  display: flex;
  gap: 0.75rem;
  justify-content: center;
  flex-direction: column;
}

.header .hero h1 {
  font-size: 1.25rem;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.header a {
  color: #ffffff !important;
}
