.header {
  width: 100%;
  padding: 1rem;
  height: 4.5rem;
  color: #ffffff;
  background: #00407a;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .brand {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .brand,
.header .brand a,
.header .brand a img {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.header .container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.2rem;
}

.header h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

.header p {
  margin-top: 0.4rem;
}

.btnBack {
  background: transparent;
  font-weight: 600;
}

.header a,
.header button {
  background: transparent;
  display: inline-flex;
  gap: 0.4rem;
  font-size: 1.2rem;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
}

.header a:hover,
.header button:hover {
  color: #3ae13a;
}

.header a:focus,
.header button:focus {
  color: #3ae13a;
}
