.header {
  background: #00407a;
  color: #ffffff;
  overflow: hidden;
}

.header .menu {
  width: 100%;
  height: 4rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .hero {
  width: 100%;
  height: 100%;
  height: 8rem;

  display: flex;
  gap: 0.75rem;
  justify-content: center;
  flex-direction: column;
}

.header .hero h1 {
  font-size: 1.25rem;
}

.header .hero p {
  font-size: 1rem;
  font-weight: 200;
  text-transform: uppercase;
}

.group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.about {
  color: #ffffff;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about:hover,
.about:focus {
  color: #ffffff;
}
