.wrapper {
  display: flex;
  border: none;
  outline: none;
  box-shadow: none;
  align-items: center;

  font-size: 1rem;
  border: 0.1rem solid #a09898;
  color: #000000;

  height: 3rem;

  overflow: hidden;
  outline: none;

  background: #e1dbdb;
  border-radius: 0.4rem;

  width: 100%;
  overflow: hidden;
}

.wrapper.active,
.wrapper:focus,
.wrapper:hover {
  border-color: currentColor;
  box-shadow: 0 0 0 0.1rem #356ebc;
}

.password {
  padding: 1.5rem 0.65rem;
  margin: 0 !important;
  box-shadow: none !important;
  border: transparent;
  width: 100%;
  box-shadow: none;
  height: 100%;
  background: transparent;
}

.wrapper .button {
  padding: 0.25rem;
  background: transparent;
  color: currentColor;

  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.wrapper .button svg {
  height: 1.5rem;
  width: 1.5rem;
}
