.footer {
  width: 100%;
  padding: 1rem 0.5rem;
  min-height: 4rem;
  color: #cfc2c2;
  background: #000000;
  border-top: 0.1rem solid #0f4098;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 3rem;
  flex-direction: column;
  padding: 1rem;
  gap: 0.4rem;
}

.footer a {
  color: #ffffff;
}

.footer div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.2rem;
}

.footer h1 {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 600;
}
