.pageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.scheduleList {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.scheduleItem {
  background: #f4f4f4;
  padding: 15px;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.courseName {
  font-size: 18px;
  font-weight: bold;
}

.courseCode {
  font-size: 14px;
  color: #666;
}
