.loginWrapper {
  width: 100%;
}

.loginWrapper .header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.loginWrapper .header p,
.loginWrapper .header a {
  font-size: 0.9rem;
}
